VITE_ENV=
VITE_API_URL=
VITE_RATES_URL=
VITE_AUTH_URL=
VITE_KEYCLOAK_URL=
VITE_KEYCLOAK_REALM=
VITE_KEYCLOAK_CLIENT_ID=
VITE_DEFAULT_LANGUAGE=
VITE_PULL_APP_STATUS_SEC=
VITE_PULL_NOTIFICATIONS_SEC=
VITE_LOGOUT_AFTER_MIN=
VITE_VERIFICATION_ATTEMPTS=
VITE_VERIFICATION_INTERVAL_SEC=
VITE_WTR_URL=
VITE_PAMM_PORTAL=
VITE_VENUS_API_URL=
VITE_BROKEREE_URL=
VITE_ADDRESS_LOOKUP_URL=
VITE_EXCHANGE_RATES_URL=
VITE_FA2_URL=
VITE_SENTRY_DSN=
VITE_RECAPTCHA_SITE_KEY_V3=
VITE_HCAPTCHA_KEY=
